.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: 40%;
    max-width: 40%;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.feed::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;;
}

.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed_header > h2 {
    font-size: 20px;
    font-weight: 800;
}